/* Variables CSS */
:root {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --accent-color: #3b82f6;
    --dark-color: #1e293b;
    --light-color: #f8fafc;
    --text-color: #334155;
    --gray-color: #94a3b8;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}


@media (max-width: 560px) {
    #presentation{

        #textePresentation{

            #divBtn{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 50px;
                a{
                    display: flex;
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                #lienProjets{
                    margin-bottom: 15px;
                }
            }
        }
    }

    #presentationCompetence{

       width: 100%;
        
        p{
            width: 90% !important;
        }
    }

    #devWeb, #programmation, #bureautique{
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .texteIMG{
            display: flex;justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            h3{
                font-size: 1.5em;
                padding: 0px 10px;
            }   
                
            img{
                width: 60px;
                height: 60px;
            }
        }

        .row{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .col-lg-6{
                width: 75%;
                background-color: #fff;
                border-radius: 15px;
                flex-direction: column;
                padding: 20px 20px;
                margin-bottom: 25px;

                img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 25px;
                }

                h4{
                    font-size: 1.5em;
                    margin-bottom: 25px;
                }

                .listeCompetence{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .competence{
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0px;
                    }

                    
                }


            }
        }
    }
}