/* Variables CSS */
:root {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --accent-color: #3b82f6;
    --dark-color: #1e293b;
    --light-color: #f8fafc;
    --text-color: #334155;
    --gray-color: #94a3b8;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

body{
    font-family: 'Poppins';
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-color);
}

.reveal-block {
  opacity: 0;
  transform: translateY(40px); /* Légèrement décalé vers le bas */
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, opacity; /* Optimisation performance */
}

.reveal-block.revealed {
  opacity: 1;
  transform: translateY(0);
}

/* Optionnel : Délais progressifs pour effet en cascade */
.reveal-block:nth-child(2) { transition-delay: 0.1s; }
.reveal-block:nth-child(3) { transition-delay: 0.2s; }
.reveal-block:nth-child(4) { transition-delay: 0.3s; }


*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.progress{
    height: 15px;
    border-radius: 15px;
    background-color: var(--gray-color);
}
.progress-bar{
    height: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

@media (min-width: 993px) {
    /*------------------ACCUEIL-------------------*/
    header{
        font-family: 'Poppins';
        width: 100%;
        height: 50px;
        align-items: center;
        padding-top: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff !important;
        position: fixed;
        top: 0;
        z-index: 1000;
                

        #portfolio{
            width: 25%;
            float: left;
            padding-left: 20px;
            text-align: right;

            #openBtn, #closeBtn{
                display: none;
            }

            h3{
                font-size: 2em;
                transform: translateY(-10px);
                color: var(--primary-color);
                span{
                    color: var(--secondary-color);
                }
            }
        }

        #navBarLink{
            width: 70%;
            float: right;
            text-align: right;

            ul{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li{ 

                    a{
                        font-size: 1.1em;
                        color: var(--text-color);
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #presentation{
        padding: 80px 0px 50px 100px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
    

        #textePresentation{
            width: 50%;
            height: 100%;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3{
                font-size: 3em;
                padding-bottom: 30px;
                color: var(--secondary-color);
            }

            p{
                font-size: 1.3em;
                padding: 0px 70px 50px 0px;
            }
            
            #divBtn{
                width: 70%;
                transform: translateX(-70px);
                a{
                    display: flex;
                    width: 45%;
                    height: 50px;
                    border-radius: 15px;
                    justify-content: center;
                    align-items: center;
                    
                }

                a:hover{
                    transform: translateY(-5px);
                    transition: 0.6s ease;
                }

                #lienProjets{
                    float: left;
                    color: var(--light-color);
                    background-color: var(--primary-color);
                }
                
                #lienContact{
                    float: right;
                    color: var(--primary-color);
                    border: 2px solid var(--primary-color);
                }
            }
        }

        #imgProfil{
            width: 50%;
            height: 100%;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 500px;
                height: 500px;
                border-radius: 100%;
                border: 10px solid white;
                transform: translateY(20px);
            }
        }
    }

    #quiSuisJe, #domaineCompetence{
        padding: 0px 50px 50px 100px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .ligneInfos{
            display: flex;
            justify-content: space-between;
            

            .colInfo{
                width: 32%;
                height: 300px;
                background-color: #fff;
                margin-bottom: 25px;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                align-items: center;

                h5{
                    text-align: center;
                    font-size: 1.5em;
                    margin-bottom: 25px;
                }

                p{
                    text-align: center;
                    padding-bottom: 30px;
                }

                img{
                    padding: 20px 0px;
                    width: 75px;
                    height: 75px;
                }
            }

            .colInfo:hover{
                transform: scale(1.05);
                transition: 0.5s;
                
            }
        }

        h3{
            font-size: 2.3em;
            margin-bottom: 30px;
        }
    }

    #domaineCompetence{
        box-shadow: none;

        #lienCompetence{
            width: 100%;
            display: flex;
            justify-content: center;

            a{
                width: 20%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 15px;
            }
        }
    }

    footer{
        background-color: var(--dark-color);
        color: var(--light-color);
        width: 100%;
        padding-top: 80px;
        line-height: 2;

        h3{
            margin-bottom: 25px;
        }

        .ligneFooter{
            padding-left: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 50px;


            #texteFooter{
                width: 30%;

                h3{
                    color: var(--primary-color);

                    span{
                        color: var(--secondary-color);
                    }
                }

                p{
                    color: var(--gray-color);
                }
            }

            #liensFooter{
                width: 30%;
                 ul{

                    li{

                        a{
                            color: var(--gray-color);
                        }
                    }
                 }
            }

            #liensReseaux{
                width: 30%;

                ul{
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    li{
                        
                        a{
                            width: 25px;
                            height: 25px;
                            background-color: var(--text-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                        }

                        a:hover{
                            background-color: #fff;
                        }
                    }
                }
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }

        #copywrite{
            width: 100%;
            justify-self: unset;
            display: flex;
            justify-content: center;
            padding-bottom: 50px;

            p{
                color: var(--gray-color);
                font-size: 0.9em;
            }
        }

        
    }

    /*------------------COMPETENCES-------------------*/
    #presentationCompetence{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0px 50px 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        h3{
            font-size: 2.3em;
            margin-bottom: 30px;
        }
        
        p{
            width: 50%;
            padding: 0px 50px;
            font-size: 1.2em;
            text-align: center;
        }
    }

     #devWeb, #programmation, #bureautique{
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .texteIMG{
            padding-left: 100px;
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            h3{
                font-size: 2.3em;
            }   
                
            img{
                width: 60px;
                height: 60px;
            }
        }

        .row{
            width: 85%;
            padding-left: 110px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .col-lg-6{
                width: 42%;
                background-color: #fff;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                padding: 50px 30px;

                img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 25px;
                }

                h4{
                    font-size: 1.5em;
                    margin-bottom: 25px;
                }

                .listeCompetence{
                    width: 97%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .competence{
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;

                        .titreCompetence{
                            width: 15%;

                            h6{
                                font-size: 1em;
                            }
                        }

                        .progress{
                            width: 95%;

                            p{
                                transform: translateY(1px);
                            }
                        }
                    }

                    
                }


            }
            .col-lg-6:hover{
                transform: scale(1.02);
                transition: 0.5s;
            }
        }
    }
    
    /*------------------PROJETS-------------------*/
    #projetPersonnel{
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px 70px;

            .projet{
                width: 30%;
                height: 470px;

                .imgProjet{
                    width: 100%;
                    height: 40%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }

                .descriptionProjet{
                    width: 100%;
                    height: 60%;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background-color: #fff;

                    .langages{
                        width: 70%;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 20px;

                        h5{
                            color: #1e40af;
                            background-color: #d6e4fa;
                            border-radius: 15px;
                            padding: 5px 5px;
                        }
                    }

                    #langagePlusouMoins{
                        width: 55%;
                    }

                    .presentationProjet{
                        padding: 0px 20px;
                        h3{
                            margin-bottom: 15px;
                        }
                        p{
                            font-size: 0.8em;
                        }
                    }
                }

            }

            .projet:hover{
                transform: scale(1.05);
                transition: 0.5s;

            }
        }
    }

    #projetAcademique, #objectifs{
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        #contenuProjetAcademique, #contenuObjectif{
            padding: 50px 70px;

            #titreProjetAcademique, #titreObjectif{
                margin-bottom: 25px;
                h3{
                    font-size: 2.3em;   
                }
            }

            .row{
                display: flex;
                justify-content: space-between;

                .projetAcademique, .objectif{
                    width: 30%;
                    background-color: #fff;
                    border-radius: 15px;

                    h5{
                        font-size: 1.5em;
                        padding: 25px 25px;
                    }

                    span{
                        display: inline-block;
                        padding: 0px 25px;
                        font-size: 0.8em;
                    }

                    p{
                        padding: 25px 25px;
                        font-size: 1em;
                    }

                    ul{
                        li{
                            padding: 5px 25px;
                            font-size: 1em;
                            list-style-type: disc;
                            list-style-position: inside;
                        }
                    }
                }
            }
        }
    }
      
}
